<!-- {% block streams %} -->
<div class="streams">
				<div class="videoAd">
					<div class="videoIntro">
						<h1 class="IntoHeader">Soulni</h1>
						<p class="excerpt">The small house's two main regiments, izinyoni ezimhlophe - commanded by Zibhebhu's uncle. An old soldier, a reasonable and average man.
						</p>
						<a href="#" class="btn button">View Latest Video</a>
					</div>
				</div>

				<div class="videos">
					<div class="contentHeading">
						<h3>LiveStreams</h3>
					</div>
					<div class="row">
						<div class="col-md-4 col-12 col-lg-3">
							<div class="videoStreams">
								<img src="{{ url_for('static', filename='img/ellie-bg.jpg') }}" alt="" class="img-fluid videoSS">
								<div class="playButtons">
									<a href="#" class="pause">
										<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
									</a>
									<a href="#" class="play">
										<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
									</a>
								</div>
								<div class="streamTitle">
									<p class="date">29 June</p>
									<p class="views">30000 views</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 col-12 col-lg-3">
							<div class="videoStreams">
								<img src="{{ url_for('static', filename='img/ellie-bg.jpg') }}" alt="" class="img-fluid videoSS">
								<div class="playButtons">
									<a href="#" class="pause">
										<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
									</a>
									<a href="#" class="play">
										<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
									</a>
								</div>
								<div class="streamTitle">
									<p class="date">29 June</p>
									<p class="views">30000 views</p>
								</div>
							</div>
							
						</div>
						<div class="col-md-4 col-12 col-lg-3">
							<div class="videoStreams">
								<img src="{{ url_for('static', filename='img/ellie-bg.jpg') }}" alt="" class="img-fluid videoSS">
								<div class="playButtons">
									<a href="#" class="pause">
										<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
									</a>
									<a href="#" class="play">
										<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
									</a>
								</div>
								<div class="streamTitle">
									<p class="date">29 June</p>
									<p class="views">30000 views</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="contentHeading">
					<h3>Stream Music</h3>
				</div>
				<div class="row">
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/ellie-bg.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Ellie Stone</p>
								<p class="songTitle">CRAZY</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/2.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Friends of Distinction</p>
								<p class="songTitle">And I love him</p>
								<div class="date"><small>April 1969</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/3.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Hardrock Cafe</p>
								<p class="songTitle">Loveless</p>
								<div class="date"><small>December 1980</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/4.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Tay aint swift</p>
								<p class="songTitle">Stars</p>
								<div class="date"><small>January 2012</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/5.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Jeremiah</p>
								<p class="songTitle">Bullfrog</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/6.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Chance the Rapper</p>
								<p class="songTitle">No Fucks Given</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/7.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Jin Kazama</p>
								<p class="songTitle">G.q.o.m</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/1.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Borzoi</p>
								<p class="songTitle">Mgodoyi</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-6">
						<div class="stream">
							<img src="{{ url_for('static', filename='img/img/2.jpg') }}" alt="stream artist image" class="img-fluid">
							<div class="playButtons">
								<a href="#" class="pause">
									<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="" class="img-fluid icon">
								</a>
								<a href="#" class="play">
									<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="" class="img-fluid icon">
								</a>
							</div>
							<div class="title">
								<p class="artistName">Pitti Patta</p>
								<p class="songTitle">KWasha endlin</p>
								<div class="date"><small>June 2019</small></div>
							</div>
						</div>
					</div>
					<div class="loadMore">
						<a href="#" class="btn button">
							<img src="" alt="load more trending streams">
							<p>More Streams</p>
						</a>
					</div>
				</div>
			</div>

			<!-- {% endblock %} -->