	<div class="soundCPlayer">
		<div class="artistInfo">
			<img src="{{ url_for('static', filename='img/img/2.jpg') }}" alt="stream artist image" class="img-fluid">
			<div class="songMeta">
				<p class="songArtist">Ellie Stone</p>
				<p class="songTitle">Crazy</p>
			</div>
		</div>
		<div class="mediaBtns">
			<a href="#" class="prev">
				<img src="{{ url_for('static', filename='img/icons/arrow_carrot-left.png') }}" alt="prev" class="img-fluid icon">
			</a>
			<div class="playButtons">
				<a href="#" class="pause">
					<img src="{{ url_for('static', filename='img/icons/icon_pause.png') }}" alt="pause" class="img-fluid icon">
				</a>
				<a href="#" class="play">
					<img src="{{ url_for('static', filename='img/icons/arrow_triangle-right.png') }}" alt="play" class="img-fluid icon">
				</a>
			</div>
			<a href="#" class="next">
				<img src="{{ url_for('static', filename='img/icons/arrow_carrot-right.png') }}" alt="next" class="img-fluid icon">
			</a>
			<div class="volumes">
				<a href="#" class="mute">
				<img src="{{ url_for('static', filename='img/icons/icon_vol-mute_alt.png') }}" alt="mute" class="img-fluid icon">
			</a>
			<a href="#" class="unmute">
				<img src="{{ url_for('static', filename='img/icons/icon_volume-high_alt.png') }}" alt="unmute" class="img-fluid icon">
			</a>
				
			</div>
			
		</div>
		<div class="metaInfo">
			<div class="progress"></div>
			<div class="metaMenu">
				<a href="#">
					<img src="{{ url_for('static', filename='img/icons/social_share.png') }}" alt="next" class="img-fluid icon">
				</a>
				<a href="#">
					<img src="{{ url_for('static', filename='img/icons/icon_floppy.png') }}" alt="next" class="img-fluid icon">
				</a>
				<a href="#">
					<img src="{{ url_for('static', filename='img/icons/icon_cart_alt.png') }}" alt="next" class="img-fluid icon">
				</a>
			</div>
		</div>
	</div>