			<div class="navigation">
				<a href="/api/v1/users/all" class="navItem">API</a>
				<a href="/api/v1/users/emails" class="navItem">EMAIL API</a>
				<a href="#" class="navItem">gallery</a>
				<a href="#" class="navItem">MixTapes</a>
				<a href="#" class="navItem">Behind the band</a>
				<a href="#" class="navItem">Ama-extra</a>
			</div>

			<div class="mobileIcons">
				<a href="/" class="logo">
					<img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid">
				</a>
				<a href="#" class="_jsNav">
					<img src="{{ url_for('static', filename='img/icons/icon_grid-2x2.png') }}" alt="" class="img-fluid icon">
					<p>MENU</p>
				</a>
			</div>

			<div class="mobileMenu">
				<div class="mobileNav">
					<a href="#" class="_jsClose">
						<img src="{{ url_for('static', filename='img/icons/icon_close.png') }}" alt="close icon" class="img-fluid icon">
						<p>Close Menu</p>
					</a>
					<a href="#" class="navItem"># Streams</a>
					<a href="#" class="navItem"># upcoming</a>
					<a href="#" class="navItem"># gallery</a>
					<a href="#" class="navItem"># MixTapes</a>
					<a href="#" class="navItem"># Behind the band</a>
					<a href="#" class="navItem"># Ama-extra</a>
				</div>
				<div class="mobileSideBar">
					<a href="#" class="navItem">Discover</a>
					<a href="#" class="navItem">Follow</a>
					<a href="#" class="navItem">Stream</a>
					<a href="#" class="navItem">Help</a>
					
				</div>
				<img src="img/logo-dark.png" alt="" class="img-fluid">
			</div>