<div class="siderBar">
	<div class="logo">
		<img src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="" class="img-fluid" width="70">
	</div>
	<div class="appMenu">
		<a href="#" class="menuLink">
			<img src="{{ url_for('static', filename='img/icons/icon_globe.png') }}" alt="img" class="img-fluid icon">
			<p>Discover</p>
		</a>
		<a href="#" class="menuLink">
			<img src="{{ url_for('static', filename='img/icons/social_rss.png') }}" alt="img" class="img-fluid icon">
			<p>follow</p>
		</a>
		<a href="#" class="menuLink">
			<img src="{{ url_for('static', filename='img/icons/icon_music.png') }}" alt="" class="img-fluid icon">
			<p>Stream</p>
		</a>
		<a href="#" class="menuLink">
			<img src="{{ url_for('static', filename='img/icons/icon_compass_alt.png') }}" alt="" class="img-fluid icon">
			<p>Events &amp; tickets</p>
		</a>
		
	</div>
	<div class="userMenu">
<!-- 		<div class="searchForm">
			<form action="#">
				<label for="search-btn" class="">search</label>
				<input type="search" class="search" id="search-btn" name="search-btn" placeholder="SEARCH">
			</form>
			<img src="{{ url_for('static', filename='img/icons/icon_search2.png') }}" alt="" class="img-fluid icon">
		</div> -->
		<div class="uploadForm">
			<form action="#">
				<label for="upload-btn" class="upload">Upload</label>
				<input type="file" class="customFileUpload" id="upload-btn" name="upload-btn" hidden="">
			</form>
			<!-- <a href="#" class="btn button">UPLOAD</a> -->
		</div>
		<!-- <div class="userProfile">profile</div> -->
		<a href="#" class="help">
			<img src="{{ url_for('static', filename='img/icons/icon_question_alt2.png') }}" alt="" class="img-fluid icon">
			<p>HELP</p>
		</a>
	</div>
</div>